@page
@using DnDIniativeTracker.Models
@model DnDIniativeTracker.Pages.GamePage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Game";
    ViewData["wide"] = true;
}
<div class="row align-items-start">
    <div class="col">
      <form method="POST" action="">
        <input type="submit" value="Add creature to game" class="btn btn-success btn-lg" />
          <div class="mb-3">
              <label asp-for="AddCreature.Number" class="form-label">Antall:</label>
              <input asp-for="AddCreature.Number" class="form-control" min="1" />
          </div>
          <div class="mb-3">
            <label asp-for="AddCreature.CreatureId" class="form-label">Creatures:</label>
            <input asp-for="AddCreature.CreatureId" class="form-control" list="creatures" type="text"/>
            <datalist id="creatures">
                @foreach (var creature in Model.Creatures)
                {
                    <option value="@creature.Id">
                        @creature.Name
                    </option>   
                }        
            </datalist>
          </div>
      </form>
    </div>
    <div class="col">
        <table class="table" id="creatureInGameTable">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col" onclick="sortTable();">Initiative</th>
                <th scope="col">AC</th>
                <th scope="col">HP</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for(var i = 0; i < Model.CreaturesInGame.Count; i++)
                {
                    
                    
                    var tableRowClass = "table-primary";
                    var textDecoration = "";
                    if(Model.CreaturesInGame[i].Creature.Role == Creature.Roles.Monster)
                    {
                        tableRowClass = "table-danger";
                    }
                    else if(Model.CreaturesInGame[i].Creature.Role == Creature.Roles.Player)
                    {
                        tableRowClass = "table-success";
                    }
                    
                    if(Model.CreaturesInGame[i].HP <= 0)
                    {
                        textDecoration = "disabled_row";
                    }
                    
                    
                    <tr class="@tableRowClass @textDecoration">
                    <th class="creature_in_game">@Model.CreaturesInGame[i].Id</th>
                    <td><a onclick="loadFrame(this);">@Model.CreaturesInGame[i].TempName</a></td>
                    <td><input type="number" class="creature_in_game" onchange="updateCreatureInGame(this);" value="@Model.CreaturesInGame[i].Initiative"/></td>
                    <td>@Model.CreaturesInGame[i].Creature.AC</td>
                    <td><input type="number" class="creature_in_game" onchange="updateCreatureInGame(this);" value="@Model.CreaturesInGame[i].HP"/></td>
                    <td><button type="button" onclick="deleteRow(this, @Model.CreaturesInGame[i].Id);" class="btn btn-danger">Delete</button></td>
                    </tr>
                }
                

            </tbody>
            </table>
    </div>
    <div class="col">
        <iframe src="" id="roll20Frame" height="100%" width="100%" onload="onFrameLoad(this);"></iframe>
    </div>
  </div>
<form id="creatureInGameForm" hidden>
    <input asp-for="CreatureInGameUpdateDto.Id" hidden/>
    <input asp-for="CreatureInGameUpdateDto.HP" hidden/>
    <input asp-for="CreatureInGameUpdateDto.Initiative" hidden/>
</form>
  <script>
    const updateCreatureInGame = async function(element){
        const creatureInGame = element.parentNode.parentNode.getElementsByClassName("creature_in_game");
        $("#@Html.IdFor(m => m.CreatureInGameUpdateDto.Id)").val(creatureInGame[0].innerHTML);
        $("#@Html.IdFor(m => m.CreatureInGameUpdateDto.Initiative)").val(creatureInGame[1].value);
        $("#@Html.IdFor(m => m.CreatureInGameUpdateDto.HP)").val(creatureInGame[2].value);
        if(Number(creatureInGame[2].value) <= 0){
            element.parentNode.parentNode.classList.add("disabled_row");
        }
        const formData = new FormData(document.getElementById("creatureInGameForm"));
        try {
                const response = await fetch("/Api/CreatureInGame/Update", {
                method: 'POST',
                body: formData
                })
                .then(response => {
                    if(response.ok){
                        console.log(response);
                        sortTable();
                    }                    
                });
            } catch (error) {
                console.log(error)
            }
            return false;
    }

    const sortTable = function(n) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("creatureInGameTable");
        switching = true;
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("INPUT")[0];
            y = rows[i + 1].getElementsByTagName("INPUT")[0];
            //check if the two rows should switch place:
            if (Number(x.value) < Number(y.value)) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            }
        }
    }

    const deleteRow = async function(element, creatureInGameId){
        const row = element.parentNode.parentNode;
        document.getElementById("creatureInGameTable").deleteRow(row.rowIndex);
        try {
                const response = await fetch("/Api/CreatureInGame/Delete/"+creatureInGameId, {
                method: 'GET',
                })
                .then(response => {
                    if(response.ok){
                        console.log(response);
                    }                    
                });
            } catch (error) {
                console.log(error)
            }
            return false;
    }

    const loadFrame = function(element){
        var creatureName = element.innerHTML.split("-")[0].trim();
        var url = `https://roll20.net/compendium/dnd5e/${creatureName}#attributes`;
        console.log(url);
        document.getElementById("roll20Frame").src = url;
        return false;
    }

    const onFrameLoad = function(element){
        console.log(element.innerText);
        if($(element).length){
            return;
        }
        var url = element.src.replace("dnd5e","pathfinder");
        console.log(url);
        element.src = url;
    }
    
  </script>